@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section tracuu{
    <script src="~/Scripts/TraCuu.js"></script>
}
<div id="main">
    @*<div id="module-1" class="header">
        <div class="container">
            <div id="module-2" class="logo">
                <a href="Index.html" title="Trang chủ">
                    <img class=" logo-banner" src="~/Content/images/logo.png" alt="Logo">
                </a>
            </div>
            <div id="module-3" class="navigation">
                <ul class="nav">
                    <li><a href="Index.html">Trang Chủ</a></li>
                </ul>
            </div>
        </div>
    </div>*@

    <div id="module-4" class="content">
        <div class="container">
            <div id="module-5" class="search-driving-license">
                <h2 class="search-heading">Tra Cứu Thông Tin Giấy phép lái xe</h2>
                <form class="search-form" name="form1" action="" method="post">
                    <div class="search-row">
                        <label class="label col-left">Số GPLX:</label>
                        <input class="form-control col-right" type="text" id="MaGPLX" name="MaGPLX" placeholder="Nhập số giấy phép lái xe" style="display:inline-block">
                    </div>
                    <div class="search-row">
                        <label class="label col-left">Hạng GPLX:</label>
                        <select class="form-control col-right" id="HangGPLX" name="HangGPLX" style="display:inline-block">
                            <option>----Select----</option>
                            @foreach (var item in ViewBag.HangGPLX)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <button type="button" class="btn-send-contact" id="btnTraCuu" value="Tra cứu" name="submit">Tra cứu</button>
                </form>
            </div>
        </div>
    </div><br />
    <div id="module-8" class="content">
        <div class="container">
            <div id="module-9" class="news" style="background-color: #e1f4ff; border-radius: 4px;">
                <div class="title">
                    <h3 class="news-heading" style="margin:0">Tin Tức </h3>
                </div>
                <br />
                <li><a href="https://gplx.gov.vn/tin-tuc2/toan-bo-10-du-an-duong-bo-cap-bach-sap-can-dich.html">TOÀN BỘ 10 DỰ ÁN ĐƯỜNG BỘ CẤP BÁCH SẮP CÁN ĐÍCH</a></li><br />
                <li><a href="https://gplx.gov.vn/tin-tuc2/bo-sung-mot-so-tuyen-quoc-lo-vao-quy-hoach.html">BỔ SUNG MỘT SỐ TUYẾN QUỐC LỘ VÀO QUY HOẠCH</a></li><br />
                <li><a href="https://gplx.gov.vn/tin-tuc2/van-tai-lech-ve-duong-bo-doi-chi-phi-logistics.html">VẬN TẢI LỆCH VỀ ĐƯỜNG BỘ, ĐỘI CHI PHÍ LOGISTICS</a></li><br />
                <li><a href="https://gplx.gov.vn/tin-tuc2/dieu-hanh-tuyen-truyen-luat-giao-thong-duong-bo.html">DIỄU HÀNH TUYÊN TRUYỀN LUẬT GIAO THÔNG ĐƯỜNG BỘ</a></li><br />
                <li><a href="https://gplx.gov.vn/tin-tuc2/le-cong-bo-thoa-thuan-hop-tac-giua-tong-cuc-duong-bo-viet-nam-va-truong-dai-hoc-bach-khoa-ha-noi.html">LỄ CÔNG BỐ THỎA THUẬN HỢP TÁC GIỮA TỔNG CỤC ĐƯỜNG BỘ VIỆT NAM VÀ TRƯỜNG ĐẠI HỌC BÁCH KHOA HÀ NỘI</a></li><br />
            </div>
        </div>
    </div>
</div>

<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin hồ sơ</h5>
                <button type="button" id="btnCancel" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="errorModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin hồ sơ</h5>
                <button type="button" id="btnCancel" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center text-danger">Hồ sơ vừa tìm hiện tại không tồn tại trên cơ sở dữ liệu!!</div>
            </div>
        </div>
    </div>
</div>


